.about{
   width: 100%;
   display: flex;
   position: relative;
   @include tablets {
      display: block
   }
}
.about__left, .about__right {
   width: 50%;
   // position: relative;
   padding-bottom: 35px;
   @include tablets {
      width: 100%;

   }
}


.about__left {
   background: $white;

}

.about__right {
   background: $beige;
  
}

.about__section-title {
   font-size: 63px;
	margin-bottom: 30px;
   color: $main-font-color;
   // padding: 30px 80px 30px 80px;
   color: darken($main-font-color,10%)!important;
   @include background-decor('../../img/decor/about.png');
}
.user-about__img-holder {
   width: 390px;
   max-height: 390px;
   overflow: hidden;
   margin: 0 auto;
   margin-bottom: 30px;
   @include tablets {
      width: 50%;
   }
   @include phones {
      width: 70%
   }
   img{
      // display: block;
		height: 100%;
      width: 100%;
		object-fit: cover;
   }
}
.user-about__title {
   font-size: 40px;
   margin-bottom: 20px;
}
.user-about__text {
   width: 450px;
   margin: 0 auto;
   p {
      font-size: 16px;
      @include roboto(regular);
      color: $main-font-color;
      line-height: 24px;
      margin-bottom: 15px;
   }
   @include desktop {
      width: 400px;
   }
}

.aboute-data {
   width: 550px;
   margin: 0 auto;
   @include desktop {
      width: 85%;
   }
}

.aboute-data__title {
   font-size: 35px;
   margin: 25px 0px; 
   text-align: center;
}

.aboute-data__text {
   font-size: 16px;
   @include roboto(regular);
   color: $main-font-color;
   line-height: 24px;
   margin-bottom: 15px;
}

#map {
   width: 100%;
   height: 675px;
}
iframe {
   height: 100%;
   width: 100%;
}

