.blog {
   position: relative;
   padding-top: 60px;
   @include tablets {
      padding-top: 40px;
   }
}

.blog-container{
   max-width: 1155px;
   width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;

   @include desktop{
      width: 90%
   }
   @include tablets {
      display: block;
      
   }
  
}
.blog__aside {
   width: 285px;
   text-align: right;
   position: relative;
   @include tablets{
      display:block;
      width: 100%;
      text-align: left;
      margin-bottom: 100px;
   }
   
}


.block__headlines-link {
   width: 100%;
   color: $main-font-color;
   font-size: 16px;
   @include roboto(regular);
   padding: 16px;
   display: inline-block;
   margin-bottom: 7px;
   border-right: 3px solid transparent;
   transition: .4s;
   &:hover {
      color: #00bfa5;
      @include roboto(bold);
      border-color: #00bfa5;
   }
   @include tablets{
      border-left: 3px solid transparent;
      border-right: none;
      font-size: 18px;
   }
}
.blog-content {
   width: 70%;
   padding: 0px 30px 0px 20px;
   @include desktop{
      padding-left: 30px;
   }
   @include tablets {
      display: block;
      width: 100%;
      padding: 0px 10px 0px 10px;
   }
}

.blog-content__list{
   @include tablets {
      .blog-content__item:nth-child(1):before {
         @include absolute;
         width: 100%;
         height: 4px;
         background: lighten(#00bfa5, 20%);
         top: -20px;
      }
   }
}

.blog-content__item {
   padding-bottom: 130px;
   position: relative;
   
   h2 {
      font-size: 35px;
      font-family: 'Bernier';
      color: $main-font-color;
      line-height: 41px;
      margin-bottom: 15px;
   }

   h4 {
      font-size: 16px;
      display: inline-block;
      @include roboto(regular);
      color: #00bfa5;
      margin-bottom: 20px;
   }
   p {
      margin-bottom: 20px;
      font-size: 16px;
      @include roboto(regular);
      color: $main-font-color;
   }
   &:after {
      @include absolute;
      width: 100%;
      height: 4px;
      background: lighten(#00bfa5, 20%);
      // background-color: #00bfa5;
      bottom: 65px;
   }
}