 .title {
   left: 50%;
   padding: 30px 80px 30px 80px;
   font-size: 60px;
   @include centered(x);
   font-family:  'Bernier';
   position: relative;
   display: inline-block;
   // margin-bottom: 23px;
   
   
   &:after,&:before{
      @include absolute();
      @include centered(y);
      width: 22px;
      height: 5px;
      // background-color: rgba($main-font-color, .4);
   }
   &:before {
      left: 40px;
   }
   &:after {
      right: 40px;
   }
   
}