.triangle {
   width: 100%;
   height: 110px;
   position: absolute;
   bottom: 100%;
}
// .about__triangles {
//    position: absolute;
//    bottom: 100%;
// }
////about-triangles
.triangle_fill_white {
   fill: $white;
}
.triangle_fill_beige {
   fill: $beige;
   @include tablets {
      fill: $white;
   }
   @include phones {
      fill: $white;
   }
}

//////blog-triangles

.triangle-decor {
   fill: $main-bg-color;
}

