.works {
   position: relative;
}

.user-works__title {
   margin-top: 20px;
   @include background-decor('../../img/decor/works.png');
   color: #373e42;
}


.works__content {
   display: flex;
}

.works__school-block,.user-projects {
   width: 50%;
}

.works__school-block {
   background-color: #f0efe9;
   // border: 1px solid red;
}
.school-website {
   // border: 1px solid green;
   width: 450px;
   text-align: center;
   padding-bottom: 30px;
   position: relative;
   @include centered('both');
}
.school-block__title{
   width: 450px;
   font-size: 35px;
   text-align: center;
   padding-top: 85px;
   margin-bottom: 15px;
   // border: 1px solid yellow;
   
}
.school-block__disciplines {
   font-size: 16px;
   @include roboto(medium);
   color: #20b5a1;
   padding: 18px 0 18px 0;
   border-top: 1px solid #acd6ce;
   border-bottom: 1px solid #acd6ce;
   margin-bottom: 40px;
}

.school-block__link {
   color: #bbeee7;
   background-color: #00bfa5;
   font-size: 16px;
   @include roboto(medium);
   padding: 13px 20px;
   vertical-align: middle;
   border-radius: 7px;
   img {
      position: relative;
      top: 4px;
      margin-right: 5px;
   }
}


.user-projects {
   background-color: #efebe0;
}


