-var name = 'Владимир Астахов';

footer.footer
   .container
      .footer__nav
         ul.user-nav
            li.user-nav__item.user-nav
               a(href="works.html" class="user-nav__link")
                  |Мои работы
            li.user-nav__item.user-nav
               a(href="about.html" class="user-nav__link")
                  |Обо мне
            li.user-nav__item.user-nav
               a(href="blog.html" class="user-nav__link")
                  |Блог
            li.user-nav__item.user-nav
               a(href="welcome.html" class="user-nav__link")
                  |Авторизация
         .footer__social
            ul.footer__social-list
               li.footer__social-item
                  <svg class="footer-icon vk-link">
                     <use xlink:href="/img/sprite.svg#vk_round"></use>
                  </svg>
               li.footer__social-item
                  <svg class="footer-icon git-link">
                     <use xlink:href="/img/sprite.svg#git_round"></use>
                  </svg>
               li.footer__social-item
                  <svg class="footer-icon in-link">
                     <use xlink:href="/img/sprite.svg#in_round"></use>
                  </svg>
      .footer__text
         .text__user-training
            |Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
         .text__copiright
            | &copy; #{name}| создано с любовью в LoftSchool | 2016
