-var name = 'Владимир Астахов';

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" href="../css/style.css")
      title welcome
   body
      .wrapper
         .welcome
            #parallax
               .parallax__layer
                  img(src="/img/parallax-mountains/Layer-0.7.png")
               .parallax__layer
                  img(src="/img/parallax-mountains/Layer-0.6.png")
               .parallax__layer
                  img(src="/img/parallax-mountains/Layer-0.5.png")
               .parallax__layer
                  img(src="/img/parallax-mountains/Layer-0.4.png")
               .parallax__layer
                  img(src="/img/parallax-mountains/Layer-0.3.png")
               .parallax__layer
                  img(src="/img/parallax-mountains/Layer-0.2.png" )
               .parallax__layer
                  img(src="/img/parallax-mountains/Layer-0.1.png")
               .parallax__cloud
                  img(src="/img/parallax-mountains/cloud_first.png")
            a(href="#" class="authorization-link")
               |Авторизоваться
            .cover.cover-welcome
               .personality__card.welcome-personality
                  .personality__img-holder
                     img(src="../../img/hero-photo.jpg").personality__photo
                  .personality__name
                     |#{name}
                  .personality__subtitle
                     |Личный сайт веб разработчика
               .socials-block.welcome__socials-green
                  <svg class="iicon vk-link">
                     <use xlink:href="/img/sprite.svg#vk"></use>
                  </svg>
                  <svg class="iicon git-link">
                     <use xlink:href="/img/sprite.svg#git"></use>
                  </svg>
                  <svg class="iicon in-link">
                     <use xlink:href="/img/sprite.svg#in"></use>
                  </svg>
               .cover__buttons-box
                  a(href="#" class="buttons-box__button")
                     |Мои работы
                  a(href="#" class="buttons-box__button")
                     |Обо мне
                  a(href="#" class="buttons-box__button")
                     |Блог
            .copiright
              | &copy; #{name}| создано с любовью в LoftSchool | 2016
         a(href="about.html")
            |about
         include ../sections/preloader
      script(src="../js/all.js")
