//colors
$white: #efeee9;
$beige: #eeebdf;
$main-font-color: #455a64;
$main-bg-color:#fff;




@import  "_misk/mixin";
@import  "_misk/fonts";
@import  "_misk/adjustment";



// @import "sections/about.scss";
// @import "sections/about.hero";
// @import "sections/about.triangles";


@import "sections/**/*.scss";


.test-link {
   margin-top: 200px;
   padding: 7px 15px;
   border: 2px solid rgb(156, 75, 75) ;
   display: inline-block
}
