// @mixin roboto ($style: regular) {

//    @if $style == regular {
//       font-family: 'robotoregular';
//    }
//    @if $style == bold {
//       font-family: 'robotobold';
//    }
//    @if $style == medium {
//       font-family: 'robotomedium';
//    }
// }

@mixin absolute (){
   display: block;
   content: '';
   position: absolute;
}


//центрирование

@mixin centered($axis:'both'){

   @if $axis == 'both' {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   @if $axis == 'x' {
      left: 50%;
      transform: translatex(-50%);
      
   }
   @if $axis == 'y' {
      top: 50%;
      transfotm: translatey(-50%);

   }
}
@mixin background-decor($sourse) {
   background-image: url($sourse);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
}

//////media

@mixin desktop(){
   @media screen and (max-width: 1200px){
      @content;
   }
}

@mixin laptop() {
   @media screen and (max-width: 980px){
      @content;
   }
}

@mixin tablets() {
   @media screen and(max-width: 768px) {
      @content;
   }
}

@mixin phones() {
   @media screen and(max-width: 480px) {
      @content;
   }
}
   
   