footer.footer-opacity
   .footer__nav
      ul.user-nav
         li.user-nav__item.user-nav
            a(href="#" class="user-nav__link")
               |Мои работы
         li.user-nav__item.user-nav
            a(href="#" class="user-nav__link")
               |Обо мне
         li.user-nav__item.user-nav
            a(href="#" class="user-nav__link")
               |Блог
         li.user-nav__item.user-nav
            a(href="#" class="user-nav__link")
               |Авторизация
      .footer__social.socials-block
         a(href="#" class="footer__social-link vk-link")
            img(src="../../img/icons/vk_round.svg").social__vk
         a(href="#" class="footer__social-link github-link")
            img(src="../../img/icons/github_round.svg").social__gh
         a(href="#" class="footer__social-link in-link")
            img(src="../../img/icons/in_round.svg").social__in
   .footer__text
      .text__user-training
         |Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
      .text__copiright
         | &copy; #{name}| создано с любовью в LoftSchool | 2016
