.hero__socials.socials-block
   <svg class="iicon vk-link">
      <use xlink:href="/img/sprite.svg#vk"></use>
   </svg>
   <svg class="iicon git-link">
      <use xlink:href="/img/sprite.svg#git"></use>
   </svg>
   <svg class="iicon in-link">
      <use xlink:href="/img/sprite.svg#in"></use>
   </svg>
.hero__hamburger
   <svg class="hamburger__icon ham-link">
      <use xlink:href="/img/sprite.svg#ham"
   </svg>