.hero__bg 
   img(src="../../img/mountains.jpg", alt="")
   
.hero__socials.socials-block
   <svg class="iicon vk-link" xmlns:svg="http://www.w3.org/2000/svg">
      <use xlink:href="/img/sprite.svg#vk"></use>
   </svg>
   <svg class="iicon git-link">
      <use xlink:href="/img/sprite.svg#git"></use>
   </svg>
   <svg class="iicon in-link">
      <use xlink:href="/img/sprite.svg#in"></use>
   </svg>
#hero__hamburger
   <span class='hamburger-part'></span>
   <span class='hamburger-part'></span>
   <span class='hamburger-part'></span>
.hero__nav-menu 
   ul.nav-menu__list 
      li.nav-menu__item
         a(href='works.html' class ='nav-menu__link')
            |мои работы
      li.nav-menu__item
         a(href='blog.html' class ='nav-menu__link')
            |блог
      li.nav-menu__item
         a(href='about.html' class ='nav-menu__link')
            |обо мне
      li.nav-menu__item
         a(href='welcome.html' class ='nav-menu__link')
            |авторизация
.hero__lining
   img(src="../../img/decor/portfolio_header.png").portfolio-lining
.hero__arrow.down-arrow
   //- <svg class="iicon icon-arrow_down">
   //-    <use xlink:href="/img/sprite.svg#arrow_down"></use>
   //- </svg>